[buildout]
extensions = 
    buildout.dumppickedversions
    mr.developer

versions = versions

sources = sources
auto-checkout = *

parts =
    instance
    zopepy
    
extends = 
    http://download.zope.org/Zope2/index/2.12.3/versions.cfg
    http://dist.plone.org/release/4.0.4/versions.cfg
    versions.cfg

find-links =
    http://dist.plone.org/release/4.0.4
    http://dist.plone.org/thirdparty

eggs =


develop = .
#          src/collective.piwik.core

#[sources]
#collective.piwiki.core = svn https://svn.plone.org/svn/collective/collective.piwik.core/trunk/

[versions]
collective.piwik.core = 0.3

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
blob-storage = var/blobstorage

eggs =
    Zope2
    Plone
    PILwoTK
    plone.reload
    collective.piwik.flowplayer
    ${buildout:eggs}

zcml = 

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy


